venv/
.vscode/
__pycache__/
*.pyc
dataset/
pacientes/
resultados_fatias/
*.npy
*.dcm
dataset_index.csv
historico_treino.csv
*.h5
*.keras
patIDStudy_contrast.csv
pacientes.csv
*.csv
resultados_treinos/
*.png